<div class="columns">
  <div class='column'>
  </div>
  <div class='column'>
    <div class='image is-3by1'>
      <img src='https://social-startups.de/wp-content/uploads/2019/06/crowdly-png-logo.jpg' alt="Crowdly">
    </div>
  </div>
  <div class='column'>
  </div>
</div>
<div class="is-size-1  hero-body">Welcome to Crowdly</div>

<%= render partial: 'shared/alerts' %>
<% if @user %>
  Logged in as: <%= @user.email %>
<% end %>