<% if flash[:alert] %>
  <div class=""><%= flash.alert %></div>
<% elsif flash[:notice] %>
  <div class=""><%= flash[:notice] %></div>
<% elsif flash[:danger] %>
  <div class=""><%= flash[:danger] %></div>
<% end %>