<% if flash[:alert] %>
  <div class="notification is-warning"><%= flash.alert %></div>
<% elsif flash[:notice] %>
  <div class="notification is-info"><%= flash[:notice] %></div>
<% elsif flash[:danger] %>
  <div class="notification is-danger"><%= flash[:danger] %></div>
<% end %>