<%# REGULAR USER
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://github.com/aljadepalaran">
      Crowdly
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-info"><strong>Sign up</strong></a>
          <a class="button">Log in</a>
        </div>
      </div>
    </div>
  </div>
</nav>
%>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://github.com/aljadepalaran">
      Administrator
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Reports
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item">
            Users
          </a>
          <a class="navbar-item">
            Posts
          </a>
          <a class="navbar-item">
            Issues
          </a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Content
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item">
            Blogs
          </a>
          <a class="navbar-item">
            News
          </a>
          <a class="navbar-item">
            Updates
          </a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Manage
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item">
            API
          </a>
          <a class="navbar-item">
            Users
          </a>
          <a class="navbar-item">
            Admins
          </a>
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-danger"><strong>Logout</strong></a>
        </div>
      </div>
    </div>
  </div>
</nav>